version: "3.9"

services:
  construction_management_api:
    image: construction-management-server:latest
    user: "502:20"
    ports:
      - 5000:8080
    volumes:
      - /Users/user/construction-management:/app/files
    environment:
      - API_TOKEN_SECRET=thisisasecretformyapi
      - DB_USERNAME=admin
      - DB_PASSWORD=password
      - DB_NAME=construction_management
      - DB_HOST=host.docker.internal
      - DB_PORT=5432
      - FILE_REPOSITORY=/app/files

  construction_management_client:
    image: construction-management-client:latest
    ports:
      - 3000:80
    environment:
      - REACT_APP_API_BASE_URL=http://host.docker.internal:5000
      - REACT_APP_DEFAULT_WORKSPACE_ID=f0ae47da-7352-455c-a3ad-02e7fb8d29c9
